.cta-block {
    background-color: #F8EAD2;
    width: 869px;
    height: 131px;
    border-radius: 32px;
    font-family: MuseoSansCyrl;
}

.cta-block__title {
    float: left;
    position: relative;
    margin-bottom: -60px;
    margin-left: 38px;
    margin-top: 32px;
    width: 439px;
    height: 68px;
    font-weight: 900;
    font-size: 28px;
    /* text-transform: uppercase; */
}

.cta-block__img {
    float: left;
    position: relative;
    margin-left: 288px;
    margin-top: 32px;
    width: 139px;
}

.cta-block__button-click {
    float: right;
    position: relative;
    margin-right: 67px;
    margin-left: 40px;
    background-color: #3469F2;
    color:#fff;
    width: 234px;
    height: 40px; 
    border-radius: 11px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 5px 5px #3469F2; 
    font-size: 13.3px;
    line-height: 45px;
    
    

}

.cta-block__button-text {
    float: right;
    position: relative;
    margin-top: 8px;
    margin-right: 100px; 
    height: 14px;
    color: #989898;
    font-size: 14px;
}

/* @font-face { 
    font-family: MuseoSansCyrl;
    src: url('/fonts/museosanscyrl_100.otf') format("truetype"); 
    font-style: normal; 
    font-weight: normal; 

}
*/